@model TimeLogListViewModel
@{
    ViewData["Title"] = "Time logs";
}

<table class="table table-bordered table-hover logs-table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Worked hours</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.TimeLogs)
        {
            <tr>
                <td>@log.WorkedHours</td>
                <td>@log.Description</td>
            </tr>
        }
    </tbody>
</table>